.bsd_attendant_list {
    width: 600px;
}

.ui-autocomplete {
    float: left;
    box-shadow: 2px 2px 3px #888888;
    background: #FFF;
}

.ui-menu-item {
    list-style-type: none;
    padding: 10px;
}

.ui-menu-item:hover {
    background: #F1F1F1;
}