#bsd-panels
.bsd-widget-title {
    margin: 0;
    font-size: 22px;
    background: #eee;
    padding: 10px;
    cursor: pointer;
}

.bsd-widget {
    margin-bottom: 10px;
}

#bsd-panels
.bsd-widget
.bsd-widget-content {
    display: none;
    border: 1px solid gray;
    padding: 10px;
}

#bsd-panels
.bsd-widget
.bsd-widget-content
.bsd-widget-footer {
    border-top: 1px solid gray;
    padding: 10px 10px 0 0;
}

#bsd-panels
.bsd-widget.active
.bsd-widget-title,
#bsd-panels
.bsd-widget.active ul {
    background: #666;
    color: #fff;
}

.is-fix-text,
.is-fix-text:hover,
.is-fix-text:active,
.is-fix-text:enabled,
.is-fix-text:focus {
    background: green none repeat scroll 0 0;
    cursor: default;
}

#accept_bsd_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36a7e3), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #36a7e3 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #36a7e3 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #36a7e3 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #36a7e3 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #36a7e3 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36a7e3', endColorstr='#0061a7',GradientType=0);
    background-color:#36a7e3;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
#accept_bsd_button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #36a7e3));
    background:-moz-linear-gradient(top, #0061a7 5%, #36a7e3 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #36a7e3 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #36a7e3 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #36a7e3 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #36a7e3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#36a7e3',GradientType=0);
    background-color:#0061a7;
}
#accept_bsd_button:active {
    position:relative;
    top:1px;
}

.is-fix-text {
    -moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
    -webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
    box-shadow:inset 0px 1px 0px 0px #3dc21b;
    background-color:#44c767;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.is-fix-text:hover {
    background-color:#5cbf2a;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    text-shadow:0px 1px 0px #2f6627;
}
.is-fix-text:active {
    position:relative;
    top:1px;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    text-shadow:0px 1px 0px #2f6627;
}
