#bsd-panels .bsd-widget-title {
    margin: 0;
    font-size: 22px;
    background: #eee;
    padding: 10px;
    cursor: pointer;
}

.bsd-widget {
    margin-bottom: 10px;
}

#bsd-panels .bsd-widget .bsd-widget-content {
    display: none;
    border: 1px solid gray;
    padding: 10px;
}

#bsd-panels .bsd-widget .bsd-widget-content .bsd-widget-footer {
    border-top: 1px solid gray;
    padding: 10px 10px 0px 0px;
}

#bsd-panels .bsd-widget.active .bsd-widget-title, #bsd-panels .bsd-widget.active ul {
    background: #666;
    color: #fff;
}

.is_fix_text, .is_fix_text:hover, .is_fix_text:active, .is_fix_text:enabled, .is_fix_text:focus {
    background: green none repeat scroll 0 0;
    cursor: default;
}
