#bsd-panels
.bsd-widget-title {
    margin: 0;
    font-size: 22px;
    background: #eee;
    padding: 10px;
    cursor: pointer;
}

.bsd-widget {
    margin-bottom: 10px;
}

#bsd-panels
.bsd-widget
.bsd-widget-content {
    display: none;
    border: 1px solid gray;
    padding: 10px;
}

#bsd-panels
.bsd-widget
.bsd-widget-content
.bsd-widget-footer {
    border-top: 1px solid gray;
    padding: 10px 10px 0 0;
}

#bsd-panels
.bsd-widget.active
.bsd-widget-title,
#bsd-panels
.bsd-widget.active ul {
    background: #666;
    color: #fff;
}

#accept_bsd_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #36a7e3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #36a7e3;
    box-shadow:inset 0px 1px 0px 0px #36a7e3;
    background-color:#36a7e3;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #36a7e3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 20px;
    text-decoration:none;
}

#is-fix-text {
    -moz-box-shadow:inset 0px 1px 0px 0px #44c767;
    -webkit-box-shadow:inset 0px 1px 0px 0px #44c767;
    box-shadow:inset 0px 1px 0px 0px #44c767;
    background-color:#44c767;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #44c767;
    display:inline-block;
    cursor:default;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 20px;
    text-decoration:none;
}

#bsd_full_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #CF3523;
    -webkit-box-shadow:inset 0px 1px 0px 0px #CF3523;
    box-shadow:inset 0px 1px 0px 0px #CF3523;
    background-color:#CF3523;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #CF3523;
    display:inline-block;
    cursor:default;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 20px;
    text-decoration:none;
    poin
}
